! special
*.foreground:   #3b4252
*.background:   #eceff4
*.cursorColor:  #3b4252

*.color0:  #3b4252
*.color1:   #bf616a
*.color2:   #a3be8c
*.color3:  #ebcb8b
*.color4:  #81a1c1
*.color5:  #b48ead
*.color6:   #88c0d0
*.color7:  #e5e9f0
*.color8:  #4c566a
*.color9:  #bf616a
*.color10:  #a3be8c
*.color11:  #ebcb8b
*.color12:  #81a1c1
*.color13:  #b48ead
*.color14:  #8fbcbb
*.color15:   #eceff4

*font: xft:Roboto Mono:size=14

*boldFont:
*lineSpace:             3
*letterSpace:           0
*geometry:              50x20
*internalBorder:        30
*scrollBar:             false

! xft fonts settings
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.antialias:          1
Xft.rgba:               rgb

URxvt.perl-ext-common: config-reload


URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
